/* 
========
Rock Paper
========
*/

body {
  height: 100vh;
  display: grid;
  place-items: center;
}
.all-center {
  display: grid;
  row-gap: 2rem;
}
.game {
  text-align: center;
}
.center {
  background-color: var(--clr-grey-10);
  width: 80vw;
  max-width: 450px;
  padding: 2.5rem 2rem;
  border: 0.1rem solid var(--clr-grey-5);
  border-radius: var(--radius);
}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  margin-top: 1rem;
}
.play-again {
  margin-top: 1rem;
  display: none;
}
