/* 
=========
Avg
=========
*/
body {
  height: 100vh;
  display: grid;
  place-items: center;
}
.center {
  padding: 2rem 2rem;
  width: 90vw;
  max-width: 550px;
  margin: 0 auto;
  background-color: var(--clr-grey-10);
  border-radius: 2rem;
}
.center h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.input-one,
.input-two {
  display: block;
  width: 100%;
  border: none;
  font-size: 1.1rem;
  padding: 0.55rem 1.5rem;
  text-transform: capitalize;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}
.btn {
  width: 100%;
  margin-bottom: 0.5rem;
}
.result {
  text-align: center;
  margin: 1.5rem 0;
  display: none;
}
