:root {
  /* dark shades of primary color*/
  --clr-primary-1: #330000;
  --clr-primary-2: #4d0000;
  --clr-primary-3: #660000;
  --clr-primary-4: #800000;
  /* primary/main color */
  --clr-primary-5: #990000;
  /* lighter shades of primary color */
  --clr-primary-6: #ff1919;
  --clr-primary-7: #ff3333;
  --clr-primary-8: #ff4d4d;
  --clr-primary-9: #ff8080;
  --clr-primary-10: #ff9999;
}

p {
  color: var(--clr-grey-2);
}
body {
  font-size: 0.875rem;
}

/* 
=========
Cars
=========
*/
.cars {
  background-color: var(--clr-grey-10);
}
.card {
  height: 32.5rem;
  position: relative;
  perspective: 1500px;
  background-color: var(--clr-white);
  border-radius: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .cars-center {
    max-width: 440px;
  }
}
.card-side {
  transition: var(--transition);
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-front {
  transition: var(--transition);
}
.card-back {
  transform: rotateX(180deg);
}

.card:hover .card-front {
  transform: rotateX(-180deg);
}
.card:hover .card-back {
  transform: rotateX(0deg);
}
/* card-front */
.card-img {
  height: 15rem;
  object-fit: cover;
  border-top-right-radius: 1.5rem;
  border-top-left-radius: 1.5rem;
}
.car-info {
  padding: 1rem 1.5rem;
}
.car-info-div {
  display: flex;
  align-items: center;
  margin-bottom: 0.1rem;
}
.car-info-title {
  font-size: 1.2rem;
  color: var(--clr-primary-1);
}
.car-icon {
  font-size: 1.2rem;
  margin-right: 1rem;
  color: var(--clr-primary-1);
}
.car-info-text {
  margin-bottom: 0rem;
}
.car-info-text span {
  font-weight: 700;
}
/* card-back */
.card-back {
  display: grid;
  place-items: center;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #ff3333;
}
.card-back-text {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  color: #fff;
}
.card-back-btn {
  display: block;
  margin: 0 auto;
  width: 10rem;
  text-align: center;
}
.card-back-btn {
  background-color: #990000;
}
.card-back-btn:hover {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .cars-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.25rem;
  }
}
@media screen and (min-width: 992px) {
  .cars-center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1400px) {
  .cars-center {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
