/* 
===========
Log in
===========
*/
.user-login {
  background: var(--clr-grey-10);
  height: 100vh;
  display: grid;
  place-items: center;
  padding: 0 1.5rem;
}
.all-form {
  background: var(--clr-white);
  box-shadow: var(--dark-shadow);
  max-width: 30rem;
}
.form {
  padding: 2rem 1.5rem;
}
.form-control {
  width: 100%;
  border: none;
  background: var(--clr-grey-9);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 700;
}
.submit-btn {
  width: 100%;
  border: none;
  background: var(--clr-grey-1);
  color: var(--clr-white);
  padding: 0.4rem 0;
  margin-top: 1rem;
  text-transform: capitalize;
  font-size: 1.1rem;
  border: 0.1rem solid transparent;
  transition: var(--transition);
}
.submit-btn:hover {
  background: transparent;
  border: 0.1rem solid var(--clr-grey-1);
  color: var(--clr-grey-1);
}
.alert {
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
  padding: 0.3rem 0;
  color: var(--clr-grey-1);
  transition: var(--transition);
  display: none;
}
.alert-danger {
  color: white;
  background: rgba(255, 0, 0, 0.685);
  display: block;
}
.alert-success {
  background: rgba(0, 128, 0, 0.801);
  color: white;
  display: block;
}
